# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/

# Node
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Logs and databases
*.log
*.sqlite

# OS Metadata
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
